{% extends 'base.html' %}

{% load static %}

{% block title %}My Profile | Online Clothing Brand{% endblock %}

{% block link %}<link rel="stylesheet" href="{% static 'css/update_profile.css' %}">{% endblock %}

{% block iconlinks %}

<div class = "icons">
    <div class = "search-bar">
        <input type="text" id="search-input" placeholder="&#x1F50E;&#xFE0E;" class="search-bar">
    </div>
    
    <div class = "user-icon">
        <a href="#" class = "profile-icon" title = "Account"><i class="fas fa-user"></i></a>
        <div class = "dropdown icon-dropdown">

            {% if user.is_authenticated and not user.is_superuser %}
            
            <div><a href = "account/update_profile">My Profile</a></div>
            <div><a href = "shopping_cart/view_cart">My Cart</a></div>
            <div><a href = "account/logout">Log Out</a></div>
            
            

            {% else %}

            <div><a href = "account/login">Log in</a></div>
            <div><a href = "account/signup">Create an account</a></div>

            {% endif %}

        </div>
    </div>

    {% if user.is_authenticated %}
    <a href = "shopping_cart/view_cart" title = "My Cart"><i class="fa-solid fa-bag-shopping"></i></a>
    {% else %}
    <a href = "account/login" title = "My Cart"><i class="fa-solid fa-bag-shopping"></i></a>
    {% endif %}
</div>

{% endblock %}

{% block content %}

<main class = "main-user-profile">
    <div class = "section sec-my-profile">
        <div class = "sec-header">
            <h1>My Profile</h1>
        </div>

        <form method = "POST">

            {% csrf_token %}

            <div class = "user-creds-div">
                <form method = "POST">
                    <div class = "sec-row">
                        <div class = "textfield-sec f-name">
                            <label for = "first_name" class = "textfield-header">First Name</label>
                            <input type = "text" id = "first_name" class = "textfield-data" value = "{{ request.user.first_name }}" name = "first_name">
                        </div>
                        
                        <div class = "textfield-sec l-name">
                            <label for = "last_name" class = "textfield-header">Last Name</label>
                            <input type = "text" id = "last_name" class = "textfield-data" value = "{{ request.user.last_name }}" name = "last_name">
                        </div>
                    </div>
    
                    <div class = "sec-row">
                        <div class = "textfield-sec email">
                            <label for = "email" class = "textfield-header">Email Address</label>
                            <input type = "text" id = "email" class = "textfield-data" value = "{{ request.user.email }}" name = "email">
                        </div>
                    </div>
                    
                    <div class = "sec-row">
                        <div class = "textfield-sec uname">
                            <label for = "username" class = "textfield-header">Username</label>
                            <input type = "text" id = "username" class = "textfield-data" value = "{{ request.user.username }}" name = "username">
                        </div>
    
                        <div class = "textfield-sec mobile-no">
                            <label for = "mobile_no" class = "textfield-header">Mobile No.</label>
                            <input type = "text" id = "mobile_no" class = "textfield-data" value = "{{ request.user.mobile_no }}" name = "mobile_no">
                        </div>
                    </div>
                    
                    
                    <div class = "sec-row btn-sec">
                        <div class = "textfield-sec password">
                            <a href="" class = "pass-link">Change Password</a>
                        </div>
                        
                        <div class = "textfield-sec btns">
                            <button type = "submit" class = "save-btn">Save Changes</button>
                            <a href="my_profile" class = "back-btn">Go Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>
</main>

{% endblock %}


<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile | Online Clothing Brand</title>
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
</head>
<body>
    <div class="container">
        <h1>Update Your Profile</h1>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ request.user.username }}" required>
            </div>

            
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ request.user.first_name }}" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ request.user.last_name }}" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ request.user.email }}" required>
            </div>
            <div class="form-group">
                <label for="mobile_no">Phone:</label>
                <input type="text" id="mobile_no" name="mobile_no" value="{{ request.user.mobile_no }}" required>
            </div>

            <button type="submit">Update Profile</button>
        </form>
        
        <a href="{% url 'index' %}">Cancel</a>
    </div>
</body>
</html> -->