{% extends 'account.html' %}
{% block title %}Password Reset | Online Clothing Brand{% endblock %}
{% block content %}
<main>
    <div class="container login-container">
        <h2>Create new password</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <input type="password" name="password1" placeholder="Enter your new password:" required>
            </div>
            <div class="form-group">
                <input type="password" name="password2" placeholder="Confirm your new password:" required>
            </div>

            <button type="submit" class="btn">Create new password</button>
        </form>
        <div class="password-prompt">
            <a href="../../login">Login</a>
        </div>
    </div>
</main>
<footer class="footer">
    <p>© All Rights Reserved | CSE471 Summer 2024 Section 4 Group 9</p>
</footer>
{% endblock %}
